<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.sy.dao.SyCatalogRoleDao">
    <resultMap type="com.cat.sy.entity.SyCatalogRole" id="syCatalogRoleMap">
        <id property="id" column="ID"/>
        <result property="isValid" column="IS_VALID"/>
        <result property="nodeIds" column="NODE_IDS"/>
        <result property="powerNodeIds" column="POWER_NODE_IDS"/>
        <result property="roleId" column="ROLE_ID"/>
        <result property="createUserId" column="CREATE_USER_ID"/>
        <result property="createTime" column="CREATE_TIME"/>
    </resultMap>


    <!--***********************define end*************************-->

    <sql id="page_where_sql">
        where 1=1
        <if test="roleId != null and roleId !=''">
            AND t.ROLE_ID = #{roleId}
        </if>
        order by CREATE_TIME DESC
    </sql>

    <!--    <select id="findPageList" resultMap="syCatalogRoleMap" parameterType="hashMap">
        <![CDATA[
         SELECT * FROM (
                 SELECT tt.*, ROWNUM AS rowno FROM (
                         SELECT t.* FROM sy_catalog_role t    ]]> <include refid="page_where_sql" />  <![CDATA[
                         ) tt  WHERE ROWNUM <= #{oracleEnd})
                 ttt  WHERE ttt.rowno >= #{oracleStart}
             ]]>
       </select> -->

</mapper>