<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.sy.dao.SyRoleDao">
    <resultMap type="com.cat.sy.entity.SyRole" id="syRole">
        <id property="id" column="ID"/>
        <result property="uuid" column="UUID"/>
        <result property="isValid" column="IS_VALID"/>
        <result property="code" column="CODE"/>
        <result property="type" column="TYPE"/>
        <result property="name" column="NAME"/>
        <result property="label" column="LABEL"/>
        <result property="iconName" column="ICON_NAME"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="note" column="NOTE"/>
    </resultMap>

    <!--***********************define end*************************-->

    <sql id="page_where_sql">
        where 1=1
        <if test="code != null and code !=''">
            AND t.CODE = #{code}
        </if>
        order by CREATE_TIME DESC
    </sql>

    <!--  <select id="findPageList" resultMap="syRole" parameterType="hashMap">
      <![CDATA[
       SELECT * FROM (
               SELECT tt.*, ROWNUM AS rowno FROM (
                       SELECT t.* FROM sy_role t    ]]> <include refid="page_where_sql" />  <![CDATA[
                       ) tt  WHERE ROWNUM <= #{oracleEnd})
               ttt  WHERE ttt.rowno >= #{oracleStart}
           ]]>
     </select> -->

</mapper>
