<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.sy.dao.SyRoleUserDao">
    <resultMap type="com.cat.sy.entity.SyRoleUser" id="syRoleUserMap">
        <id property="id" column="ID"/>
        <result property="uuid" column="UUID"/>
        <result property="roleId" column="ROLE_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="createUserId" column="CREATE_USER_ID"/>
        <result property="status" column="STATUS"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="note" column="NOTE"/>
    </resultMap>

    <!--***********************define end*************************-->

    <sql id="page_where_sql">
        where 1=1
        <if test="userId != null and userId !=''">
            AND t.USER_ID = #{userId}
        </if>
        <if test="roleId != null and roleId !=''">
            AND t.ROLE_ID = #{roleId}
        </if>
        order by CREATE_TIME DESC
    </sql>

    <!--  <select id="findPageList" resultMap="syRoleUserMap" parameterType="hashMap">
      <![CDATA[
       SELECT * FROM (
               SELECT tt.*, ROWNUM AS rowno FROM (
                       SELECT t.* FROM sy_role_user t    ]]> <include refid="page_where_sql" />  <![CDATA[
                       ) tt  WHERE ROWNUM <= #{oracleEnd})
               ttt  WHERE ttt.rowno >= #{oracleStart}
           ]]>
     </select> -->

</mapper>
